html {
  padding-top: 1em;
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 5em;
  padding-bottom: 5em;
}
footer {
  position: absolute;
  padding-top: 1em;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}
icon-links {
  color: rgba(255, 255, 255, 0.89);
}